/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
*#
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
.sbtserver*
/project/plugins/project
project/boot
/logs
.cache
.classpath
.project
.settings
activator
activator-launch-1.3.5.jar